*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 320px;
    font-family: $main-ff;
    font-weight: 400;
    color: $text-main;
}

%container {
  max-width: $container-max-width;
  margin: 0 auto;

  @include respond-to('lg') {
    padding: 0 15px;
  }
}