@font-face {
    font-family: "e-Ukraine";
    src: url("https://db.onlinewebfonts.com/t/a44207bfe4040f536c824dbbf82f5ed1.eot");
    src: url("https://db.onlinewebfonts.com/t/a44207bfe4040f536c824dbbf82f5ed1.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a44207bfe4040f536c824dbbf82f5ed1.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/a44207bfe4040f536c824dbbf82f5ed1.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/a44207bfe4040f536c824dbbf82f5ed1.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/a44207bfe4040f536c824dbbf82f5ed1.svg#e-Ukraine Regular")format("svg");
}

@font-face {
    font-family: "e-Ukraine";
    font-style: normal;
    font-weight: 100;
    src: url("./assets/fonts/e-Ukraine-UltraLight.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine";
    font-style: normal;
    font-weight: 200;
    src: url("./assets/fonts/e-Ukraine-Light.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine";
    font-style: normal;
    font-weight: 300;
    src: url("./assets/fonts/e-Ukraine-Thin.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/e-Ukraine-Regular.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/e-Ukraine-Bold.otf") format("opentype");
}
